{% extends "network/layout.html" %}

{% block body %}
    <div class="container">
        <div class="home">
            <div class="form">
                <h3>What's on your mind?</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ create_post }}
                    <input type="submit" class='btn btn-sm btn-primary' name="new_post" value="Post">
                </form>
            </div>
            {% include "network/content.html" %}
{% endblock %}