{% extends 'network/layout.html' %}


{% block body %}
{% csrf_token %}
<div class="container" id="default-view">
    <div class="row">
        <div class="col-lg-3 profile">
            <div id="profile-heading">
                <div>
                    <img id="user-profile-pic" src="{{ profile.profile_pic.url }}" alt="profile picture">
                </div>
                <h1>{{ profile }}</h1>
                <span id="user-description">{{ profile.description }}</span>
            </div>
            <hr>
            <div id="profile-details">
                <i class="fa-solid fa-envelope-open-text fa-lg mr-2"></i> {{ profile.email }}
                <span id="user-birthday"><i class="fa-solid fa-cake-candles fa-lg mr-2"></i>
                {% if not profile.birthday %} Not specified {% else %} {{ profile.birthday }}{% endif %}
                </span>
                <span id="user-nationality"><i class="fa-solid fa-earth-europe fa-lg mr-2"></i>
                {% if not profile.nationality.name %} Not specified {% else %} {{ profile.nationality.name }}{% endif %}
                </span>
                <hr>
                <div id="display-followers">
                    <div>
                        Followers
                        <span id="user-followers"> {{ followers }}</span>                        
                    </div>
                    <div>
                        Following
                        <span id="user-following">{{ profile.following.count }}</span>
                    </div>   
                </div>
            </div>
            {% if user.is_authenticated %}
                {% if user.id != profile.id %}
                    {% if follows %}
                    <button class='btn btn-primary' data-profile-id='{{ profile.id }}' id="follow">Unfollow</button>
                    {% else %}
                    <button class='btn btn-primary' data-profile-id='{{ profile.id }}' id="follow">Follow</button>
                    {% endif %}
                {% else %}
                <button class='btn btn-primary' data-profile-id='{{ profile.id }}' id="edit-profile">Edit Details</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-lg-8 user-posts">
            {% if user.id == profile.id %}
                <div class="form">
                    <h3>What's on your mind?</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ create_post }}
                        <input type="button" data-profile-id='{{ user.id }}' id='submit-post' class='btn btn-sm btn-primary' name="new_post" value="Post">
                    </form>
                </div>
            {% endif %}
            {% include "network/content.html" %}
        </div>
    </div>
</div>
<div class="container" id="edit-view">
    <h1>{{ profile }}</h1>
    <form method="POST">
        {% csrf_token %}

        <div id="details-row">
            {{ user_details.birthday }}
            {{ user_details.nationality }}
            {{ user_details.profile_pic }}
        </div> 
            {{ user_details.description }}
            <input type="submit" id="save-details" value="Save">
    </form>
</div>
{% endblock %}

