{% extends 'network/layout.html' %}


{% block body %}
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h1>{{ profile }}</h1>
            {% if user.id != profile.id %}
                {% if follows == 'Follow' %}
                    <button data-profile-id='{{ profile.id }}' id="follow">Unfollow</button>
                {% else %}
                    <button data-profile-id='{{ profile.id }}' id="follow">Follow</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-lg-8">
            <div class="posts">
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        {{ create_post }}
                        <input type="submit" class='btn btn-sm btn-primary' name="new_post" value="Post">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
