body {
    background-color: #f1f1f1;
    color: black;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: #67EBA4;
}
.profile span{
    display: block;
}

#profile-heading {
    margin: 10px 0 20px;
}
#profile-details {
    text-align: left;
}

#follow, #edit-profile {
    margin: 20px;
}
a:any-link {
    color: black;
}

.btn-primary {
    padding: 5px 25px;
    background-color: #67EBA4;
    font-weight: 600;
    border: none;
}
.btn-primary:hover{background-color: #3E524E;}
.btn-primary:focus{background-color: #67EBA4;}
.profile {
    background-color: #ffffff;
    border-radius: 25px;
    margin-right: 20px;
    text-align: center;
    height: fit-content;
}
#user-profile-pic{
    margin-top: 10px;
}
#new-post {
    background-color: #ffffff;
}

#add-comment {
    display: none;
}

.container {
    margin: 30px auto;
}

.form {
    margin-bottom: 20px;
}
.form form .form-control{
    border-radius: 25px;
    height: 150px;
    margin-bottom: 15px;
}

.home {
    margin: auto;
    max-width: 60%;
}

.posts {
    margin: auto;
    max-width: 60%;
}
.single-post{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 8px 20px 15px;
    margin-bottom: 10px;
}
.post-contents .post-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#post-text{
    margin-bottom: 12px;
    text-wrap: wrap;
    word-wrap: break-word;
}

#author{
    font-size: 24px;
    font-weight: 500;
}
.post-heading p{
    font-size: 14px;
    color: #62707e;
    line-height:36px;
    padding: 0;
    margin: 0;
    vertical-align: middle;

}

.interactions {
    display: flex;
    justify-content: space-between;
}



.new-comment {
    margin-top: 15px;
    margin-bottom: 25px;
}
#submit-comment{
    margin-top: 10px;
}

#comment-value {
    height: 75px;
}

#show-comments{
    margin-top: 15px;
}

#edit-view {
    display: none;
}