

#add-comment {
    display: none;
}

.container {
    margin: 30px auto;
}

.form {
    margin-bottom: 20px;
}
.form form .form-control{
    border-radius: 25px;
    height: 150px;
    margin-bottom: 15px;
}

.home {
    margin: auto;
    max-width: 60%;
}

.posts {
    margin: auto;
    max-width: 60%;
}
.single-post{
    background-color: bisque;
    border-radius: 25px;
    padding: 8px 20px 15px;
    margin-bottom: 10px;
}
.post-contents .post-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#post-text{
    margin-bottom: 12px;
    text-wrap: wrap;
    word-wrap: break-word;
}

#author{
    font-size: 24px;
    font-weight: 500;
}
.post-heading p{
    font-size: 14px;
    color: rgb(115, 115, 115);
    line-height:36px;
    padding: 0;
    margin: 0;
    vertical-align: middle;

}

.interactions {
    display: flex;
    justify-content: space-between;
}



.new-comment {
    margin-bottom: 25px;
}


#comment-value {
    height: 75px;
}

#show-comments{
    margin-top: 15px;
}